.team-form-container {
   
}

 .form-group-national-team {

        .form-check-input {
            position: absolute;
            margin-top: 0.3rem;
            margin-left: 0;
        }
    
        .form-check-label {
            margin-bottom: 0;
            margin-left: 25px;
        }
    }