/**
 * Basic typography style for copy text
 */
body {
  
  font: normal 100% / 1.4 $text-font-stack;
}

p,
ul,
ol,
li,
span,
div,
small,
i,
a,
b {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

td{
  vertical-align:-webkit-baseline-middle;
  vertical-align: middle;
}