.games-typs{
    width: 50%;
    
}
.game-date-time{
    color: #eaff00;
    padding: 10px;
    background-color: #38324c;
    font-size: 10px;
    font-weight: bolder
}

.games-typs-footer{
    padding: 0.25rem 0.25rem;
}

.games-typs-item-title{
    font-size: 10px;
    text-align: center;
}