.content-page {
    height: 5001px;
    padding: $content-page-padding;
    background-color: $content-page-background-color;
    color: $content-page-color;
    position: relative;
}
.title-tables{
    padding: 20px;
    background-color: blue;
    color: whitesmoke;
}