// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}
@keyframes menu-item-right-animate {
  0% {
      border-right: 0px red solid;
  }

  25% {
      border-right: 2px red solid;
  }

  50% {
      border-right: 4px #ff8522 solid;
  }

  75% {
      border-right: 3px #ff8522 solid;
  }

  100% {
      border-right: 0px red solid;
  }

}

@mixin border-separator($type) {
  @if $type=="bottom" {    
    border-bottom: 1px solid rgba(239, 243, 247, 0.2);
  }
  @else{
    border-top: 1px solid rgba(239, 243, 247, 0.2);
  }
}

